
 <!-- Option to create a new workout or continue with a previous workout -->
 <!--Add exercises to previous workout plans
Add new exercises to a new workout plan.-->

<aside class="card">
    <div id="user-input">
        <p>Title</p>
        <input type="text" id="title" />

      <br>

        <p>Workout Details</p>
        <textarea id="note"></textarea>
        <a class=" btn-small waves-effect waves-light" type="submit" name="action"><i class="material-icons">add</i></a>

      </div>
    </div>
</aside>