
nav {
  background-color: #086788 !important;
}


.row{
justify-content: flex;
display: flex;
}

.card{
    margin: auto;
    text-align: center;
    padding: 0 20px;
    display: block;
    width: 200px;
    margin: 50px auto;
    border: 3px solid red;
    
    }

    